[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpyro = "~=0.15.0"
pandas = "*"
arviz = "*"

[dev-packages]
pytest = "*"
black = "*"
jupyterlab = "*"
ipykernel = "*"
graphviz = "*"
matplotlib = "*"

[requires]
python_version = "3.12"
