[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpyro = "*"
pandas = "*"
arviz = "*"

[dev-packages]
pytest = "*"
black = "*"
jupyterlab = "*"
ipykernel = "*"
graphviz = "*"

[requires]
python_version = "3.12"
